<!-- ========== Left Sidebar Start ========== -->

            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>

                        	<li class="text-muted menu-title">Navigation</li>

                            <li >
                                <a href="javascript:void(0);" class="waves-effect active"><i class="ti-home"></i> <span> New Link </span> </a>
                                
                            </li>

                            <li >
                                <a href="javascript:void(0);" class="waves-effect"><i class="ti-paint-bucket"></i> <span> Overview </span> </a>
                                
                            </li>

                            <li >
                                <a href="javascript:void(0);" class="waves-effect"><i class="ti-light-bulb"></i><span> Links </span> </a>
                               
                            </li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End -->