           <!-- Start right Content here -->
			<!-- ============================================================== -->
			<div class="content-page">
				<!-- Start content -->
				<div class="content">
					<div class="container">

						<!-- Page-Title -->
						<div class="row">
							<div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

								<h4 class="page-title">Bootstrap Tables</h4>
								<ol class="breadcrumb">
									<li>
										<a href="#">Ubold</a>
									</li>
									<li>
										<a href="#">Tables</a>
									</li>
									<li class="active">
										Bootstrap Tables
									</li>
								</ol>
							</div>
						</div>

                        <!--Basic Columns-->
						<!--===================================================-->
						
						
						
						
						<!--Checkbox Select-->
						<!--===================================================-->
						<div class="row">
							<div class="col-sm-12">
								<div class="card-box">
									<h4 class="m-t-0 header-title"><b>Checkbox Select</b></h4>
									<p class="text-muted m-b-30 font-13">
										Example of checkbox select (Your text goes here).
									</p>	
									
									<table data-toggle="table"  
										   data-page-size="10"
										   data-pagination="true" class="table-bordered ">
										<thead>
											<tr>
												<th data-field="state" data-checkbox="true"></th>
												<th data-field="id" data-switchable="false">First Name</th>
												<th data-field="name">Last Name</th>
												<th data-field="date">Job Title</th>
												<th data-field="amount">DOB</th>
												<th data-field="user-status" class="text-center">Status</th>
											</tr>
										</thead>
										
										
										<tbody>
											<tr>
												<td></td>
												<td>Isidra</td>
												<td>Boudreaux</td>
												<td>Traffic Court Referee</td>
												<td>22 Jun 1972</td>
												<td><span class="label label-table label-success">Active</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Shona</td>
												<td>Woldt</td>
												<td>Airline Transport Pilot</td>
												<td>3 Oct 1981</td>
												<td><span class="label label-table label-inverse">Disabled</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Granville</td>
												<td>Leonardo</td>
												<td>Business Services Sales Representative</td>
												<td>19 Apr 1969</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Easer</td>
												<td>Dragoo</td>
												<td>Drywall Stripper</td>
												<td>13 Dec 1977</td>
												<td><span class="label label-table label-success">Active</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Maple</td>
												<td>Halladay</td>
												<td>Aviation Tactical Readiness Officer</td>
												<td>30 Dec 1991</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Maxine</td>
												<td><a href="#">Woldt</a></td>
												<td><a href="#">Business Services Sales Representative</a></td>
												<td>17 Oct 1987</td>
												<td><span class="label label-table label-inverse">Disabled</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Lorraine</td>
												<td>Mcgaughy</td>
												<td>Hemodialysis Technician</td>
												<td>11 Nov 1983</td>
												<td><span class="label label-table label-inverse">Disabled</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Lizzee</td>
												<td><a href="#">Goodlow</a></td>
												<td>Technical Services Librarian</td>
												<td>1 Nov 1961</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Judi</td>
												<td>Badgett</td>
												<td>Electrical Lineworker</td>
												<td>23 Jun 1981</td>
												<td><span class="label label-table label-success">Active</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Lauri</td>
												<td>Hyland</td>
												<td>Blackjack Supervisor</td>
												<td>15 Nov 1985</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Isidra</td>
												<td>Boudreaux</td>
												<td>Traffic Court Referee</td>
												<td>22 Jun 1972</td>
												<td><span class="label label-table label-success">Active</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Shona</td>
												<td>Woldt</td>
												<td>Airline Transport Pilot</td>
												<td>3 Oct 1981</td>
												<td><span class="label label-table label-inverse">Disabled</span></td>
											</tr>
											<tr>
												<td>Granville</td>
												<td>Leonardo</td>
												<td>Business Services Sales Representative</td>
												<td>19 Apr 1969</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Easer</td>
												<td>Dragoo</td>
												<td>Drywall Stripper</td>
												<td>13 Dec 1977</td>
												<td><span class="label label-table label-success">Active</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Maple</td>
												<td>Halladay</td>
												<td>Aviation Tactical Readiness Officer</td>
												<td>30 Dec 1991</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Maxine</td>
												<td><a href="#">Woldt</a></td>
												<td><a href="#">Business Services Sales Representative</a></td>
												<td>17 Oct 1987</td>
												<td><span class="label label-table label-inverse">Disabled</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Lorraine</td>
												<td>Mcgaughy</td>
												<td>Hemodialysis Technician</td>
												<td>11 Nov 1983</td>
												<td><span class="label label-table label-inverse">Disabled</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Lizzee</td>
												<td><a href="#">Goodlow</a></td>
												<td>Technical Services Librarian</td>
												<td>1 Nov 1961</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Judi</td>
												<td>Badgett</td>
												<td>Electrical Lineworker</td>
												<td>23 Jun 1981</td>
												<td><span class="label label-table label-success">Active</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Lauri</td>
												<td>Hyland</td>
												<td>Blackjack Supervisor</td>
												<td>15 Nov 1985</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
											<tr>
												<td>Isidra</td>
												<td>Boudreaux</td>
												<td>Traffic Court Referee</td>
												<td>22 Jun 1972</td>
												<td><span class="label label-table label-success">Active</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Shona</td>
												<td>Woldt</td>
												<td>Airline Transport Pilot</td>
												<td>3 Oct 1981</td>
												<td><span class="label label-table label-inverse">Disabled</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Granville</td>
												<td>Leonardo</td>
												<td>Business Services Sales Representative</td>
												<td>19 Apr 1969</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Easer</td>
												<td>Dragoo</td>
												<td>Drywall Stripper</td>
												<td>13 Dec 1977</td>
												<td><span class="label label-table label-success">Active</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Maple</td>
												<td>Halladay</td>
												<td>Aviation Tactical Readiness Officer</td>
												<td>30 Dec 1991</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Maxine</td>
												<td><a href="#">Woldt</a></td>
												<td><a href="#">Business Services Sales Representative</a></td>
												<td>17 Oct 1987</td>
												<td><span class="label label-table label-inverse">Disabled</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Lorraine</td>
												<td>Mcgaughy</td>
												<td>Hemodialysis Technician</td>
												<td>11 Nov 1983</td>
												<td><span class="label label-table label-inverse">Disabled</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Lizzee</td>
												<td><a href="#">Goodlow</a></td>
												<td>Technical Services Librarian</td>
												<td>1 Nov 1961</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Judi</td>
												<td>Badgett</td>
												<td>Electrical Lineworker</td>
												<td>23 Jun 1981</td>
												<td><span class="label label-table label-success">Active</span></td>
											</tr>
											<tr>
												<td></td>
												<td>Lauri</td>
												<td>Hyland</td>
												<td>Blackjack Supervisor</td>
												<td>15 Nov 1985</td>
												<td><span class="label label-table label-danger">Suspended</span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
                    </div> <!-- container -->
                               
                </div> <!-- content -->

                <footer class="footer">
                    © 2017. All rights reserved.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
            <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-1.jpg" alt="">
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-2.jpg" alt="">
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-3.jpg" alt="">
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-4.jpg" alt="">
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-5.jpg" alt="">
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-6.jpg" alt="">
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-7.jpg" alt="">
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-8.jpg" alt="">
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-9.jpg" alt="">
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-10.jpg" alt="">
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->