<% include ../../html/html_begin %>
<% include ../../html/head_begin %>
<% include ../../html/head_end %>
<% include ../../html/body_begin %>
    <% include ../../components/topbar %>
    <% include ../../components/site_menubar %>
    <% include ../../components/site_gridmenu %>
    <!-- Page -->
    <div class="page">
        <div class="page-content container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
        </div>
        </div>
    </div>
    <!-- End Page -->
    <% include ../../components/footer %>
<% include ../../html/body_end %>
<% include ../../html/html_end %>