<% include ../../html/html_begin %>
<% include ../../html/head_begin %>
<% include ../../html/head_end %>
<% include ../../html/body_begin %>
    <% include ../../components/topbar %>
    <% include ../../components/site_menubar %>
	<% include ../../components/site_gridmenu %>
    <!-- Page -->
                            <!--Basic Columns-->
						<!--===================================================-->
						
						
						
						
						<!--Checkbox Select-->
						<!--===================================================-->
						<div class="row">
							<div class="col-sm-8">
								<div class="card-box">
									<h4 class="m-t-0 header-title"><b>YOUR LINKS</b></h4>									
									<table 
                                           data-toolbar = "#toolbar"
										   data-page-size="10"
										   data-pagination="true"
                                           data-id-field= "id"
                                           data-page-list="[10,25,50,100, ALL]"
                                           class="table-bordered table" id="table">
										<thead>
											<tr>
												<th data-field="state" data-checkbox="true"></th>
                                                <th data-field="id" class = "linkId">id</th>
												<th data-field="title" data-switchable="false">Title</th>
												<th data-field="date">Date</th>												
												<th data-field="action" 
                                                    data-events="actionEvents"
                                                    data-formatter="actionFormatter"
                                                    data-align="center">Action</th>
                                                
											</tr>
										</thead>								
										
									<!-- <tbody id = "searchTblBody">
																						
										</tbody> -->
									</table>
								</div>
							</div>
						</div>
                    </div> <!-- container -->
                               
                </div> <!-- content -->

                <footer class="footer">
                    © 2017. All rights reserved.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
            <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-1.jpg" alt="">
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-2.jpg" alt="">
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-3.jpg" alt="">
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-4.jpg" alt="">
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-5.jpg" alt="">
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-6.jpg" alt="">
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-7.jpg" alt="">
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-8.jpg" alt="">
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-9.jpg" alt="">
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-10.jpg" alt="">
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->
    <!-- End Page -->
    <% include ../../components/footer %>
<% include ../../html/body_end %>

<script language = "JavaScript" >

    var $table = $('#table'), 
        $remove = $('#remove'),
        selections = [];

    function actionFormatter(value, row, index) {

        return [
            '<a href="#" class="edit">',
            '<i class="md md-edit"></i>',
            '</a>',
            '<a href="#" class="remove">',
            '<i class="md md-close"></i>',
            '</a>'
            ].join('');
    }

    window.actionEvents = {
        'click .edit' : function (e,value, row, index) {

            alert ('you click edit action , row: ' + JSON.stringify(row));
        },

        'click .remove' : function (e, value, row, index) {

            $table.bootstrapTable('remove', {

                field: 'id',
                values: [row.id]
            });

            $('#table .linkId').hide();
        }
    };

    function initTable() {


    }

    function getIdSelections() {

    }
    $(document).ready( function() {

        function Link(id, title, alert, keywords, categories, sources, start_date, end_date) {

                this.id = id;
                this.title = title;
                this.alert = alert;
                this.keywords = keywords;
                this.categories = categories;
                this.sources = sources;

                var startDate = new Date(start_date);
                
                this.start_date = moment(startDate).format("MMM Do YY");

                var endDate = new Date(end_date);

                this.end_date = moment(endDate).format("MMM Do YY");;
            }

        window.onload = function() {

            //Hidden id Columns

            $('#table .linkId').hide();

            $('#table').on('check.bs.table', function (e, row, $el) {
                alert('check index: ' + $el.closest('tr').data('index'));
            });
            $('#table').on('uncheck.bs.table', function (e, row, $el) {
                alert('uncheck index: ' + $el.closest('tr').data('index'));
            });

            $.post('/pages/links', function(data) {

                    $("#searchTblBody").empty();
                    //  window.location.href = "/pages/links";

                    console.log("data count is : " + data.length);
                    var array = [];
                    for (var i = 0; i < data.length; i++) {

                        var temp = data[i];
                        var link = new Link(temp._id, temp.title,  temp.alert, temp.keywords, temp.categories,temp.sources, temp.start_date, temp.end_date);

                        var tr = {

                            id: link.id,
                            title: link.title,
                            date: link.start_date,
                        };

                        array.push(tr);
                        // var tr  = '<tr>	<td class = "bs-checkboxs"><input data-index='+i+' name = "btSelectItem" type = "checkbox"></td> <td>'+ link.title + '</td> <td>'+ link.start_date +'</td> <td><a href="#" class="table-action-btn"><i class="md md-edit"></i></a> <a href="#" class="table-action-btn"><i class="md md-close"></i></a>  </td>	</tr>';

                        // $("#searchTblBody").append(tr);
                    }


                    $('#table').bootstrapTable({
                        data: array
                    });

                    $('#table .linkId').hide();
                    
            });
        };
    });
</script>


<% include ../../html/html_end %>